.h1 {
	font-weight: 700;
	font-size: 34px;
	margin-bottom: 12px;
	max-width: 657px;
	text-align: left;
}

.tagWrapper {
	display: flex;
	gap: 10px;
	align-items: center;
}

.tagWrapper span {
	font-weight: 400;
	font-size: 12px;
	color: var(--text-grey);
}

.image {
	margin-left: -24px;
}

.dot {
	font-size: 8px;
	font-weight: 400;
}

.body {
	max-width: 657px;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	color: var(--text-grey);
	text-align: justify;
}

.seoWrapper {
	max-width: 657px;
	font-weight: 400;
	font-size: 18px;
	line-height: 32px;
	color: var(--text-grey);
	text-align: justify;
}

.seoWrapper h2 {
	color: var(--header-text-black);
}

.likeSection {
	display: grid;
	grid-template-columns: auto 48px;
	justify-content: left;
	align-items: center;
	gap: 10px
}

.likeSection span {
	font-weight: 400;
	font-size: 16px;
}