html,
body {
	margin: 0;
	padding: 0;
	color: var(--black);
	font-family: var(--font-geist-sans), system-ui, sans-serif;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--header-text-black: #2C2C2C;
	--tag-text-black: #4B4B4B;
	--text-grey: #6E6E6E;
	--text-primary: #1473E6;
	--border-white: #F5F5F5;
	--border-black: #303030;
	--placeholder-text: #4E5D7C80;
	--error-text: rgb(255, 86, 86);
}

:root {
	--max-width: 1200px;
}

:focus {
	outline: none;
}

:focus-visible {
	outline: 2px solid var(--text-primary);
	outline-offset: 2px;
}

button:focus:not(:focus-visible) {
	outline: none;
}