.reviewForm {
	display: flex;
	flex-direction: column;
	margin-bottom: 14px;
}

.button {
	align-self: start;
}

.successTitle {
	color: var(--text-primary);
}

.errorTitle {
	color: var(--error-text);
}